{% extends 'main.html' %}

{% block content %}
<!-- Main Section -->
<header class="site-header d-flex flex-column justify-content-center align-items-center">
  <div class="container">
      <div class="row align-items-center">

          <div class="col-lg-5 col-12">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'ouvrages:index'%}">Homepage</a></li>

                      <li class="breadcrumb-item active" aria-current="page">Inbox</li>
                  </ol>
              </nav>
          </div>
          <h3 class="text-white">New Messages (<span>{{unreadCount}}</span>)</h3>
      </div>
  </div>
</header>

<section class="pt-5 pb-5 section-bg">
  <div class="container">
    {% for message in messageRequests %}
      <div class="d-flex flex-column justify-content-center align-items-center">
        
          <div class="col-lg-6 custom-block custom-block-topics-listing bg-white shadow-lg mb-lg-4">
              
              <div class="row justify-content-lg-evenly align-items-start">
                <div class="col-lg-3 col-12">
                    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                        <img src="{{ message.sender.imageURL }}" class="avatar avatar--md" alt="profile picture">
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="d-flex flex-column col-12 col-lg-12">
                      <a href="{% url 'message' message.id %}">
                      <h4 class="w-100">{{message.subject}}</h4>
                      <p class="w-100">{{message.created}}</p>
                      {% comment %} <div class="text-black-50 fw-normal fs-4 w-100">{{message.body|linebreaksbr|slice:"10"}}</div> {% endcomment %}
                      </a>
                    </div>
                </div>
             </div>
             
          </div>
          
      </div>
      {% empty %}
          <h4 class="text-info"><i class="bi-info-circle">No messages yet.</i></h4>
      {% endfor %}
  </div>
</section>

{% comment %} <section class="pt-5 pb-5 section-bg inbox">
  <div class="content-box">
      <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center custom-block custom-block-topics-listing bg-white shadow-lg">
            <ul class="messages">
              {% for message in messageRequests %}
              {% if message.is_read == False %}
              <li class="message message--unread">
                {% else %}
              <li class="message">
                {% endif %}
        
                <a href="{% url 'message' message.id %}">
                  <span class="message__author">{{message.name}}</span>
                  <span class="message__subject">{{message.subject}}</span>
                  <span class="message__date">{{message.created}}</span>
                </a>
              </li>
              {% empty %}
              <h4 class="text-info"><i class="bi-info-circle">No messages yet.</i></h4>
              {% endfor %}
            </ul>
      </div>
  </div>
</section> {% endcomment %}

{% endblock content %}