{% extends "main.html" %}
{% block title %}Create Your Account{% endblock %}

{% block content %}

{% if page == 'register' %}

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ouvrages:index'%}">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Register</li>
                    </ol>
                </nav>
                <h2 class="text-white">Create Your Account</h2>
            </div>
        </div>
    </div>
</header>

<section class="section-padding section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto">   
                <div class="alert alert-info" role="alert">
                    Please sign up using the following form :
                </div>
                <form action="{% url 'register' %}" class="custom-form contact-form" role="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in user_form %}
                    <!-- Input:Text -->
                    <div style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
                        <label for="formInput#text" class="fw-bold fs-4">{{ field.label }}:</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <p style="color: red;">{{error}}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="btn mybtn mt-3 mt-lg-4" type="submit">Register</button>
                </form>                   
            </div>
        </div>
    </div>
</section>

{%elif page == 'login' %}

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ouvrages:index'%}">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </nav>
                <h2 class="text-white">Welcome Back !</h2>
            </div>
        </div>
    </div>
</header>

<section class="section-padding section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Please check your username or password.
                    </div>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        Please use the following form to login. If you don't have an account <a href="{% url 'register' %}">register here</a>
                    </div>
                {% endif %}

                <form action="" method="POST" class="custom-form contact-form" role="form">
                    {% csrf_token %}
                    <!-- Input:Username -->
                    <div class="mb-3">
                        <label for="formInput#text">Username: </label>
                        <input class="form-control" id="formInput#text" type="text" name="username"
                            placeholder="Enter your username..." />
                    </div>
        
                    <!-- Input:Password -->
                    <div class="mb-3">
                        <label for="formInput#password">Password: </label>
                        <input class="form-control" id="formInput#passowrd" type="password" name="password"
                            placeholder="••••••••" />
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <div class="mt-3">
                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}