{% extends "main.html" %}
{% block title %}Reset Your Password{% endblock %}

{% block content %}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ouvrages:index'%}">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
                    </ol>
                </nav>
                <h2 class="text-white">Reset Your Password</h2>
            </div>
        </div>
    </div>
</header>

<section class="section-padding section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
                    {% if validlink %}
                        <div class="alert alert-info" role="alert">
                        Please enter your password twice.
                        </div>
                        <form method="post" class="custom-form contact-form" role="form">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" value="Change my password">Change my password</button>
                        </form>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset link.
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
