{% extends "main.html" %}
{% block title %}Password Forgotten{% endblock %}

{% block content %}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ouvrages:index'%}">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
                    </ol>
                </nav>
                <h2 class="text-white">Forgotten your Password</h2>
            </div>
        </div>
    </div>
</header>

<section class="section-padding section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
                    <div class="alert alert-info" role="alert">
                        Enter your e-mail address to obtain a new password!
                    </div>
                <form method="post" class="custom-form contact-form" role="form">
                   
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    <button type="submit" class="btn btn-danger" value="Send e-mail">Send e-mail</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
