{% extends "main.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ouvrages:index'%}">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Welcome</li>
                    </ol>
                </nav>
                <h2 class="text-white">Welcome</h2>
            </div>
        </div>
    </div>
</header>

<section class="section-padding section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
                   <p>Your account has been successfully created. Now, you can
                    <a href="{% url 'login' %}">Log-in</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
