{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'ouvrages:index'%}">
            <i class="bi-back"></i>
            <span>Bibliotheque</span>
        </a>

        <div class="d-lg-none ms-auto me-4">
            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-5">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'ouvrages:index' %}#section_1">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'ouvrages:index' %}#section_2">Trending</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'ouvrages:index' %}#section_3">How it works</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'ouvrages:index' %}#section_4">FAQs</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ouvrages</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'ouvrages:browse'%}">Browse</a></li>
                        {% comment %} <li><a class="dropdown-item" href="{% url 'ouvrages:topics-listing'%}">Exemplaires</a></li> {% endcomment %}
                        <li><a class="dropdown-item active" href="{% url 'ouvrages:contact'%}">Reclamation</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-none d-lg-block ms-lg-5">
                <div class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="navbar-icon bi-person smoothscroll"></span></a>
                    
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Login</a></li>
                        <li><a class="dropdown-item" href="#">Register</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Login as Admin</a></li>
                    </ul>
                </div>
            </div>     
        </div>
    </div>
</nav>
