{% extends 'main.html' %}

{% block content %}
{% load static %}

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ouvrages:index' %}">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Emprunts</li>
                    </ol>
                </nav>
                <h2 class="text-white">Emprunts List</h2>
            </div>
        </div>
    </div>
</header>
<section class="section-bg section-padding">
    <style>
        /* Styles spécifiques pour les éléments th */
        .th {
            background-color: #fafafa !important; /* Couleur d'arrière-plan */
            color: #83b4bb; /* Couleur du texte */
            border-radius: 5px !important; /* Bordures arrondies */
            padding: 10px; /* Espacement interne */
        }
        table {
            border-collapse: separate;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une ombre */
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="custom-block bg-white shadow-lg">
                    {% if user.is_staff%}
                    <div class="col d-flex justify-content-start align-items-start mt-lg-0 mb-lg-4">
                        <a href="{% url 'ouvrages:nouvel_emprunt' %}" class="btn mybtn smoothscroll me-2">Nouvel Emprunt</a>
                    </div>
                    {%endif%}
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="section-title">Liste des Emprunts</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table ">
                            <thead >
                                <tr class="th">
                                    <th class="th">CNE</th>
                                    <th class="th">Username de l'Étudiant</th>
                                    <th class="th">Exemplaire Emprunté</th>
                                    <th class="th">Date d'Emprunt</th>
                                    <th class="th">Date de Retour</th>
                                    <th class="th">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for emprunt in emprunts %}
                                <tr>
                                    <td>{{ emprunt.emprunteur.CNE }}</td>
                                    <td>{{ emprunt.emprunteur.username }}</td>
                                    <td>{{ emprunt.exemplaire.ouvrage.titre }}</td>
                                    <td>{{ emprunt.date_emprunt }}</td>
                                    <td>{{ emprunt.date_retour }}</td>
                                    <td class="d-flex justify-content-start align-items-center">
                                        <a href="{% url 'ouvrages:modifier_emprunt' emprunt.id %}" class="btn custom-btn me-3" >Modifier</a>
                                        <a href="{% url 'ouvrages:delete_emprunt' emprunt.id%}" class="btn mybtn"  >Supprimer</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="6" class="fw-semibold text-center text-warning">Aucun emprunt disponible</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}