{% extends "main.html" %}
{% block content%}
{% load static %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1" style="padding-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="text-white text-center">Welcome to our library</h2>

                <h6 class="text-center">browse the books you want</h6>
                <form method="GET"  action="{% url 'ouvrages:browse' %}" class="custom-form mt-lg-4 pt-1 pb-1 mb-lg-0 mb-2" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">
                            
                        </span>

                        <input name="search_query" value="{{search_query}}" type="search" class="form-control" id="search_query" placeholder="Search Ouvrages by Title, Category, Author..." aria-label="Search">

                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            {% if best_ouvrage and best_ouvrage.id %}
            <div class="col-lg-4 col-12 mb-lg-0" style="height: 610px;">
                <div class="custom-block bg-white shadow-lg d-inline-block">
                    <a href="{% url 'ouvrages:ouvrage' best_ouvrage.id%}">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between">
                                <h4 class="text-black-50 mb-2">{{best_ouvrage.titre}} </h4>
                                <span class="badge bg-design rounded-pill ms-auto mt-0 mb-3">Top</span>
                            </div>
                            
                            <div class="overflow-hidden mb-3">
                                <img class="img-fluid" style="object-fit: cover;object-position: top center;" src="{{ best_ouvrage.featured_image.url }}"alt="">
                            </div>
                            <div>
                                <p class="mb-2 fst-italic" style="font-weight: bold;">
                                {% if best_ouvrage.auteurs.all.count == 1 %}
                                    By {% for auteur in best_ouvrage.auteurs.all %}
                                            {{ auteur }}
                                    {% endfor %}
                                {% else %}
                                    By
                                    {% for auteur in best_ouvrage.auteurs.all %}
                                        {{ auteur }}
                                        {% if not forloop.last %}
                                            &amp; <!-- Separator -->
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </p>
                                {% comment %} {% if best_ouvrage.vote_total != 0 %} {% endcomment %}
                                    <p class="mb-0">
                                        <span style="font-weight: bold;">{{best_ouvrage.vote_ratio}}%</span> Postitive
                                            Feedback ({{best_ouvrage.vote_total}} vote{{ best_ouvrage.vote_total|pluralize:"s" }})
                                    </p>
                                {% comment %} {%endif%} {% endcomment %}
                                {% comment %} <h5 class="text-black-50 mt-2">Description:</h5>
                                <p class="">{{best_ouvrage.description}}</p> {% endcomment %}
                            </div>
                        </div>
                         {% comment %} object-position: top center; {% endcomment %}                     
                    </a>
                </div>
            </div>
            {% endif%}
            {% if newest_ouvrage and newest_ouvrage.id %}
            <div class="col-lg-6 col-12">
                <div class="custom-block custom-block-overlay" style="height: 610px;">
                    <div class="d-flex flex-column">
                        <div class="section-overlay"></div>
                        <div class="overflow-hidden">
                            <img class="img-fluid" style="height: 50rem; object-fit: cover;" src="{{ newest_ouvrage.featured_image.url }}" alt="">
                        </div>
                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-3">{{newest_ouvrage.titre}}</h5>

                                <p style="font-weight: bold;" class="text-white fst-italic mb-3">
                                    {% if newest_ouvrage.auteurs.all.count == 1 %}
                                        By {% for auteur in newest_ouvrage.auteurs.all %}
                                                {{ auteur }}
                                        {% endfor %}
                                    {% else %}
                                        By
                                        {% for auteur in newest_ouvrage.auteurs.all %}
                                            {{ auteur }}
                                            {% if not forloop.last %}
                                                &amp; <!-- Separator -->
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                                {% comment %} {% if newest_ouvrage.vote_total != 0 %} {% endcomment %}
                                    <p class="text-white mt-2">
                                        <span style="font-weight: bold;">{{newest_ouvrage.vote_ratio}}%</span> Postitive
                                        Feedback ({{newest_ouvrage.vote_total}} vote{{ newest_ouvrage.vote_total|pluralize:"s" }})
                                    </p>
                                {% comment %} {%endif%} {% endcomment %}
                                <h5 class="text-white mb-2">Description:</h5>
                                <p class="text-white mb-2">{{newest_ouvrage.description|slice:"300"}}</p>
                                <a href="{% url 'ouvrages:ouvrage' newest_ouvrage.id%}" class="btn custom-btn mt-2 mt-lg-3">Consulter</a>
                            </div>

                            <span class="badge bg-finance rounded-pill ms-auto">New</span>
                        </div>

                        <div class="social-share d-flex">
                            <p class="text-white me-4">Share:</p>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>
            {% endif%}
        </div>
    </div>
</section>

<section class="section-bg" style="padding-top: 40px; padding-bottom: 80px;" id="section_2">
    <div class="col-lg-12 col-12">
        <h3 class="mb-4 ps-5 pb-2 ms-lg-5 mt-2">Ouvrages Recommandés</h3>
    </div>
    <div class="container">
        <div id="recomCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-touch="false">
            <div class="carousel-indicators m-auto">
                <button type="button" data-bs-target="#recomCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#recomCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                {% for ouvrage in recommanded_ouvrages %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-4 mx-auto">
                        <div class="custom-block bg-white shadow-lg">
                            <a href="{% url 'ouvrages:ouvrage' ouvrage.id%}">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <div class="d-flex flex-row justify-content-lg-between">
                                            <h5 class="mb-2">{{ouvrage.titre}}</h5>
                                            <span class="badge bg-education align-self-end" style="height: 1.3rem;">Recommended</span>
                                        </div>
                                        <p class="mb-2 fst-italic" style="font-weight: bold;">
                                            {% if ouvrage.auteurs.all.count == 1 %}
                                                By {% for auteur in ouvrage.auteurs.all %}
                                                    {{ auteur }}
                                                {% endfor %}
                                            {% else %}
                                                By
                                                {% for auteur in ouvrage.auteurs.all %}
                                                    {{ auteur }}
                                                    {% if not forloop.last %}
                                                        &amp;
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                        <p class="mb-0">
                                            <span style="font-weight: bold;">{{ouvrage.vote_ratio}}%</span> Positive
                                            Feedback ({{ouvrage.vote_total}} vote{{ ouvrage.vote_total|pluralize:"s" }})
                                        </p>
                                        <h6 class="mt-2 text-black-50 mb-2">Description:</h6>
                                        <p class="mt-2">{{ouvrage.description|slice:"150"}}</p>
                                    </div>
                                </div>
                                <img src="{{ ouvrage.featured_image.url }}" class="custom-block-image img-fluid mt-lg-0 mt-3" alt="">
                                <div class="mt-3">
                                    {% for categorie in ouvrage.categories.all %}
                                        <span class="tag bg-design me-1">{{categorie}}</span>
                                    {% endfor %}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#recomCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#recomCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>


<section class="timeline-section section-padding" style="background-image: url('{% static 'images/bib.png' %}')" id="section_3">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="text-white mb-4">How does it work?</h1>
            </div>

            <div class="col-lg-10 col-12 mx-auto">
                <div class="timeline-container">
                    <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                        <div class="list-progress">
                            <div class="inner"></div>
                        </div>

                        <li>
                            <h4 class="text-white mb-3">Search your favourite book</h4>

                            {% comment %} <p class="text-white">Lorem ipsum accusamus omnis?</p> {% endcomment %}

                            <div class="icon-holder">
                                <i class="bi-search"></i>
                            </div>
                        </li>
                        
                        <li>
                            <h4 class="text-white mb-3">Bookmark, Reserve &amp; Keep it for yourself</h4>

                            {% comment %} <p class="text-white">Lorem ipsum accusamus omnis?</p> {% endcomment %}

                            <div class="icon-holder">
                                <i class="bi-bookmark"></i>
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3">Read &amp; Enjoy</h4>

                            {% comment %} <p class="text-white">Lorem ipsum accusamus omnis?</p> {% endcomment %}

                            <div class="icon-holder">
                                <i class="bi-book"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            {% comment %} <div class="col-12 text-center mt-5">
                <p class="text-white">
                    Want to learn more?
                    <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                </p>
            </div> {% endcomment %}
        </div>
    </div>
</section>

<section class="faq-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Frequently Asked Questions</h2>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-5 col-12">
                
                <img src="{% static 'images/faq_graphic.jpg' %}" class="img-fluid" alt="FAQs">
            </div>

            <div class="col-lg-6 col-12 m-auto">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What programs can I use to read the books listed here?
                            </button>
                        </h2>

                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Most people can read most of my listings from their normal Web browser. Special reader programs may be needed for less common formats, or for people with disabilities.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                I urgently need to acquire a copy of a certain book. Can you send it to me?
                        </button>
                        </h2>

                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Sorry, we don't sell books at this site, or send out print books. We also don't mail books (either through the post or through email.) 
                                We just link to free, complete online editions. 
                                Most recent books are not available online in this manner. 
                                If you need to buy a book, we give links to some bookseller directories under "Book Catalogues and Retailers" on this page. 
                                If you just need to look at a book without buying it, and it's not online, check your local library. 
                                If they don't have the book themselves, they may be able to arrange an inter-library loan.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Why can't I find books by my favorite modern author on this site?
                        </button>
                        </h2>

                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Recent books are copyrighted, and copyrighted books can't go online unless the copyright holder-- usually the author or the publisher-- gives permission. Some authors have given such permission, but many have not, or have only given permission for books you have to pay for, which this site doesn't list.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="pt-lg-5 pb-lg-5 section-bg" id="section_5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 m-auto">
                <h2 class="mb-4 text-center">Notre Equipe</h2>
            </div>
            <div id="teamCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-touch="false">
                <div class="carousel-indicators m-auto">
                    <button type="button" data-bs-target="#teamCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#teamCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#teamCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
               <div class="carousel-inner">
                <div class="carousel-item active">
                <div class="d-flex flex-row justify-content-center align-content-lg-center">
                <div class="col-lg-4 col-12 mt-3 mx-3">
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            
                            <img src="{% static 'images/team.png'%}" class="avatar avatar--lg" alt="">
    
                            <div class="custom-block-topics-listing-info d-flex flex-column">
                                <div>
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <h5 class="mb-2 p-2">Nada MESBAH</h5>
                                        
                                        <span class="mb-2 badge bg-design" style="width: auto; height: 2rem;"><p class="w-100 text-white fw-semibold">Scrum Master</p></span>
    
                                        <h6 class="mb-2 p-2">Follow Me On: </h6>

                                        <a href="https://github.com/NadaMesbah" class="social-icon-item bi-github" style="font-size: 1.5em; color:black; font-weight:600;"> Github </a>
                                    </div>
                                    {% comment %} <div class="social-share ms-3">  
                                        <ul class="social-icon d-flex justify-content-center align-items-center m-0 p-0">
                                            <li class="social-icon-item">
                                                <a href="https://github.com/NadaMesbah" class="social-icon-link bi-github"></a>
                                            </li>
                                        </ul>
                                    </div>    {% endcomment %}
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-12 mt-3 mx-3">
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            
                            <img src="{% static 'images/team.png'%}" class="avatar avatar--lg" alt="">
    
                            <div class="custom-block-topics-listing-info d-flex flex-column">
                                <div>
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <h5 class="mb-2 p-2">Mayssam SEHAIT</h5>
                                        
                                        <span class="mb-2 badge bg-advertising" style="width: auto; height: 2rem;"><p class="w-100 text-white fw-semibold">Product Owner</p></span>
    
                                        <h6 class="mb-2 p-2">Follow Me On:</h6>

                                        <a href="https://github.com/MayssamSe" class="social-icon-item bi-github" style="font-size: 1.5em; color:black; font-weight:600;"> Github </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    
            <div class="carousel-item">
                <div class="d-flex flex-row justify-content-center align-content-lg-center">
                <div class="col-lg-4 col-12 mt-3 mx-3">
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            
                            <img src="{% static 'images/team.png'%}" class="avatar avatar--lg" alt="">
    
                            <div class="custom-block-topics-listing-info d-flex flex-column">
                                <div>
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <h5 class="mb-2 p-2">Safae ERRAJI</h5>
                                        
                                        <span class="mb-2 badge bg-education" style="width: auto; height: 2rem;"><p class="w-100 text-white fw-semibold">Team Member</p></span>
    
                                        <h6 class="mb-2 p-2">Follow Me On:</h6>
                                        <a href="https://github.com/Safae26" class="social-icon-item bi-github" style="font-size: 1.5em; color:black; font-weight:600;"> Github </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-12 mt-3 mx-3">
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            
                            <img src="{% static 'images/team.png'%}" class="avatar avatar--lg" alt="">
    
                            <div class="custom-block-topics-listing-info d-flex flex-column">
                                <div>
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <h5 class="mb-2 p-2">Fatima E. AZZAZ</h5>
                                        
                                        <span class="mb-2 badge bg-education" style="width: auto; height: 2rem;"><p class="w-100 text-white fw-semibold">Team Member</p></span>
    
                                        <h6 class="mb-2 p-2">Follow Me On:</h6>

                                        <a href="https://github.com/fatimaezzahraazzaz" class="social-icon-item bi-github" style="font-size: 1.5em; color:black; font-weight:600;"> Github </a>

                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    
            <div class="carousel-item">
                <div class="d-flex flex-row justify-content-center align-content-lg-center">
                <div class="col-lg-4 col-12 mt-3 mx-3">
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            
                            <img src="{% static 'images/team.png'%}" class="avatar avatar--lg" alt="">
    
                            <div class="custom-block-topics-listing-info d-flex flex-column">
                                <div>
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <h5 class="mb-2 p-2">Naoual SOUIDI</h5>
                                        
                                        <span class="mb-2 badge bg-education" style="width: auto; height: 2rem;"><p class="w-100 text-white fw-semibold">Team Member</p></span>
    
                                        <h6 class="mb-2 p-2">Follow Me On:</h6>
                                        <a href="https://github.com/naoualsd" class="social-icon-item bi-github" style="font-size: 1.5em; color:black; font-weight:600;"> Github </a>

                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-12 mt-3 mx-3">
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            
                            <img src="{% static 'images/team.png'%}" class="avatar avatar--lg" alt="">
    
                            <div class="custom-block-topics-listing-info d-flex flex-column">
                                <div>
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <h5 class="mb-2 p-2">Fatima A. LAMINE</h5>
                                        
                                        <span class="mb-2 badge bg-education" style="width: auto; height: 2rem;"><p class="w-100 text-white fw-semibold">Team Member</p></span>
    
                                        <h6 class="mb-2 p-2">Follow Me On:</h6>

                                        <a href="https://github.com/tima00MA" class="social-icon-item bi-github" style="font-size: 1.5em; color:black; font-weight:600;"> Github </a>

                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
                <!-- Add more carousel items for additional team members -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
</section> 
{% comment %} <section class="contact-section section-padding section-bg" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-5">Get in touch</h2>
            </div>

            <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2595.065641062665!2d-122.4230416990949!3d37.80335401520422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858127459fabad%3A0x808ba520e5e9edb7!2sFrancisco%20Park!5e1!3m2!1sen!2sth!4v1684340239744!5m2!1sen!2sth" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                <h4 class="mb-3">Head office</h4>

                <p>Bay St &amp;, Larkin St, San Francisco, CA 94109, United States</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: 305-240-9671" class="site-footer-link">
                        305-240-9671
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        info@company.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mx-auto">
                <h4 class="mb-3">Dubai office</h4>

                <p>Burj Park, Downtown Dubai, United Arab Emirates</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: 110-220-3400" class="site-footer-link">
                        110-220-3400
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        info@company.com
                    </a>
                </p>
            </div>

        </div>
    </div>
</section> {% endcomment %}

{% endblock content%}