{% extends 'main.html' %}
{% load static %}
{% block content %}

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Modifier Emprunt</li>
                    </ol>
                </nav>
                <h2 class="text-white">Modifier Emprunt</h2>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="section-padding section-bg col-12 col-lg-12 d-flex justify-content-center align-items-center">
        <div class="container col-6">
            <h2>Modifier Emprunt</h2>
            <form method="post" class="custom-form contact-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn mybtn mt-3 mt-lg-4">Enregistrer les modifications</button>
            </form>
        </div>
    </section>
</main>

{%endblock%}