{% extends "main.html" %}
{% block title %}Reservations{% endblock %}
{%load static%}

{% block content %}
<script>
    window.embeddedChatbotConfig = {
    chatbotId: "UNJuecFUKH2tZmLCYXMrE",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="UNJuecFUKH2tZmLCYXMrE"
    domain="www.chatbase.co"
    defer>
 </script>
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ouvrages:index' %}">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Reservations</li>
                    </ol>
                </nav>
                <h2 class="text-white">My reservations</h2>
            </div>
        </div>
    </div>
</header>
<section class="section-padding section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 m-auto">
                <h3 class="mb-4 text-center">Welcome to your reservations page {{ user.username }} !</h3>
            </div>
            <div class="col-lg-8 col-12 mt-3 mx-auto">
                {% for reservation in reservations %}
                <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                    <div class="d-flex">
                        
                        <img src="{{ reservation.ouvrage.featured_image.url }}" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-topics-listing-info d-flex">
                            <div>
                                <div class="d-flex flex-row justify-content-lg-between">
                                    <h5 class="mb-2 p-2">Reservation de : {{ reservation.ouvrage }}</h5>
                                    {% if reservation.statut == 'acceptee' %}
                                    <span class="badge bg-education" style="width: auto; height: 2rem;"><p class="w-100 text-white fw-semibold">{{reservation.get_statut_display}}</p></span>
                                    {% endif %}
                                    {% if reservation.statut == 'en_attente' %}
                                    <span class="badge bg-music" style="width: auto; height: 2rem;"><p class="w-100 text-white fw-semibold">{{reservation.get_statut_display}}</p></span>
                                    {% endif %}
                                    {% if reservation.statut == 'refusee' %}
                                    <span class="badge bg-advertising" style="width: auto; height: 2rem;"><p class="w-100 text-white fw-semibold">{{reservation.get_statut_display}}</p></span>
                                    {% endif %}
                                </div>
                                <p class="mb-0 p-2">Date Reservation: {{ reservation.date_reservation }}</p>
                                <p class="mb-0 p-2">Date de retour prevue: {{ reservation.date_retour_prevue }}</p>
                                {% if reservation.statut == 'en_attente'%}
                                <a href="{% url 'ouvrages:edit-reservation' reservation.id%}" class="btn custom-btn mt-3 mt-lg-4">Edit</a>
                                {% endif %}
                                <a href="{% url 'ouvrages:cancel-reservation' reservation.id%}" class="btn mybtn mt-3 mt-lg-4" >Cancel</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
                {% empty %}
                    <div class="d-flex flex-column justify-content-center align-items-center mb-0 mb-lg-0">  
                        <h4 class="text-black-50">No Reservations yet :/ </h4>
                        <img src="{% static 'images/sad.png' %}" alt="Tristesse" class="img-fluid" style="width: 17rem" >
                        <a href="{% url 'ouvrages:browse'%}" class="btn custom-btn mt-3 mt-lg-4">Explore Our Books</a>
                    </div>
                {% endfor %}

            </div>
              
        </div>
    </div>
</section> 
{% comment %} <section class="section-padding section-bg">
    <div class="container">
        <div class="col">
            <div class="col-lg-10 col-12 mx-auto">
                <h3  class="text-center">Welcome to your reservations {{ user.username }} !</h3>
                {% for reservation in reservations %}
                    <div>
                        <h4 class="text-center">Date Reservation: {{ reservation.date_reservation }}</h4><br>
                        <h4 class="text-center">Date Retour: {{ reservation.date_retour_prevue }}</h4><br>
                        <h4 class="text-center">Book: {{ reservation.ouvrage }}</h4><br>
                    </div>
                {% empty %}
                    <div class="d-flex flex-column justify-content-center align-items-center mb-0 mb-lg-0">  
                        <h4 class="text-black-50">No Reservations yet :/ </h4>
                        <img src="{% static 'images/pic.png' %}" alt="Tristesse" class="img-fluid" style="width: 17rem" >
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> 
</section>{% endcomment %}
{% endblock content%}
