{% extends "main.html" %}
{% block content%}
{% load static %}
<h1>Ouvrages</h1>
<br>
<a href="{% url 'ouvrages:create-ouvrage'%}">Add Ouvrage</a>
<br>
<table>
    <tr>
        <th>Ouvrage</th>
        <th>Auteurs</th>
        <th>Votes Positive</th>
        <th>Votes</th>
        <th>Date d'ajout</th>
        <th>Options</th>
    </tr>
    {% for ouvrage in ouvrages%}
        <tr>
            <td>{{ouvrage.titre}}</td>
            <td>{%for auteur in ouvrage.auteurs.all%}
                    {{auteur}}
                {%endfor%}
            </td>
            <td>{{ouvrage.vote_ratio}}%</td>
            <td>{{ouvrage.vote_total}}</td>
            <td>{{ouvrage.date_achat}}</td>
            <td><a href="{% url 'ouvrages:update-ouvrage' ouvrage.id%}">Edit</a>
            <a href="{% url 'ouvrages:delete-ouvrage' ouvrage.id%}">Delete</a>
            <a href="{% url 'ouvrages:ouvrage' ouvrage.id%}">View</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock content%}