{% extends "main.html" %}
{% block content%}
{% load static %}

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-5 col-12 mb-5 ms-lg-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ouvrages:index'%}">Homepage</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Reservation of {{ouvrage.titre}}</li>
                    </ol>
                </nav>
                <h2 class="text-white">{{ouvrage.titre}}</h2>
                <h5 class="text-black-50">Auteur{{ ouvrage.auteurs.all.count|pluralize:"s" }}:</h5>
                <p class="mb-0 text-white fst-italic">
                    {% if ouvrage.auteurs.all.count == 1 %}
                        {% for auteur in ouvrage.auteurs.all %}
                                {{ auteur }}
                        {% endfor %}
                    {% else %}
                        {% for auteur in ouvrage.auteurs.all %}
                            {{ auteur }}
                            {% if not forloop.last %}
                                &amp; <!-- Separator -->
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
                
                <div class="d-flex flex-row justify-content-start align-items-end mt-4">
                    {%for categorie in ouvrage.categories.all%}
                    <span class="badge bg-music me-1">{{categorie}}</span>
                    {%endfor%} 
                </div>
                
            </div>

            <div class="col-lg-5 col-12 ms-lg-5">
                <div class="topics-detail-block bg-white shadow-lg bg-opacity-0 h-auto" style="width: 22rem">         
                    <img src="{{ ouvrage.featured_image.url }}" class="topics-detail-block-image shadow-lg img-fluid w-100 h-100" >
                </div>
    
            </div>
            
        </div>
    </div>
</header>

<section class="topics-detail-section pt-5" id="topics-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 m-auto">
                <h3 class="mb-4">Reservation Details</h3>
                <p class="mb-4">{{ouvrage.exemplaires_total}} exemplaires disponibles</p>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 m-auto">
                <h3 class="mb-4">Exemplaires de cet ouvrage</h3>
            </div>
            <div class="col-lg-8 col-12 mt-3 mx-auto">
            {% for exemplaire in ouvrage.exemplaire_set.all %}
                <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                    <div class="d-flex">
                        <img src="{{ exemplaire.ouvrage.featured_image.url }}" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-topics-listing-info d-flex">
                            <div>
                                <h5 class="mb-2">Exemplaire de : {{exemplaire.ouvrage.titre}}</h5>

                                <p class="mb-0">Topic Listing includes home, listing, detail and contact pages. Feel free to modify this template for your custom websites.</p>
                                {% comment %} rediriger vers la page de reservation {% endcomment %}
                                <a href="{% url 'ouvrages:ouvrage' exemplaire.ouvrage.id%}" class="btn custom-btn mt-3 mt-lg-4">Reserver</a>
                            </div>
                            {% if exemplaire.etat == 'DI'%}
                                <span class="tag bg-education ms-auto">{{exemplaire.etat}}</span>
                            {% elif exemplaire.etat == 'HP' %}
                                <span class="tag bg-finance ms-auto">{{exemplaire.etat}}</span>
                            {% else %}
                                <span class="tag bg-music ms-auto">{{exemplaire.etat}}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {%endfor%}
            </div>
            <div class="col-lg-12 col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mb-0">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">Prev</span>
                            </a>
                        </li>

                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1</a>
                        </li>
                        
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-10 col-12 m-auto mt-lg-5" id="reservation">
                <blockquote>
                    Pour reserver vous devez vous connecter... <a href="#" class="custom-icon bi-box-arrow-up-right smoothscroll"><small>login/signup</small></a> 
                </blockquote>
            </div>        
        </div>
    </div>
</section>
<section>
    <div class="pt-lg-5 pb-lg-5 section-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                <div class="w-100 col-12">
                    <h3 class="mb-3 pb-2">Feedback</h3>
                    <p class="mb-lg-4">
                    <span style="font-weight: bold;">{{ouvrage.vote_ratio}}%</span> Postitive
                    Feedback ({{ouvrage.vote_total}} vote{{ ouvrage.vote_total|pluralize:"s" }})
                    </p>
                </div>

                <div class="w-100 col-12 mt-lg-2">
                    <form action="#" method="post" class="custom-form contact-form" role="form">
                        <div class="col">
                        <div class="col-lg-12 col-12">
                            <div>
                                <ul id="reviews">
                                    {% for review in ouvrage.reviews.all %}
                                        <li>
                                            <div class="stars">
                                                {% for i in "12345" %}
                                                    <span class="star {% if i <= review.rating %}checked{% endif %}" onclick="rateBook({{ review.id }}, {{ i }})">&#9733;</span>
                                                {% endfor %}
                                            </div>
                                            <p>{{ review.comment }}</p>
                                        </li>
                                    {% empty %}
                                        <!-- No reviews yet -->
                                    {% endfor %}
                                </ul>
                                <h2>Add a Review</h2>
                                <div class="stars">
                                {% for i in "12345" %}
                                    <span class="star" onclick="addReview({{ i }})">&#9733;</span>
                                {% endfor %}
                                </div>
                            </div>
                        
                            <div class="form-floating">
                                <textarea class="form-control" id="message" name="message" placeholder="Write your comments here..."></textarea>
                                
                                <label for="floatingTextarea">Write your comment here...</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 ms-0">
                            <button type="submit" class="form-control">Submit</button>
                        </div>
                        </div>
                    </form>
                </div>
                </div>

                <div class="col">
                <div class="commentList w-100 col-12 mt-lg-2 ms-lg-5">
                    <div class="comment">
                        <a href="#">
                            <img class="avatar avatar--sm"
                                src="{% static 'images/pfp.jpg'%}" alt="user" />
                        </a>
                        <div class="comment__details">
                            <a href="#" class="comment__author">Sulamita Ivanov</a>
                            <p class="comment__info">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit alias numquam perferendis
                            mollitia minus minima exercitationem possimus ab deserunt qui, soluta iusto doloribus eveniet
                            similique consequuntur ratione, dignissimos ut magni laborum quo.
                            </p>
                        </div>
                    </div>

                    <div class="comment">
                        <a href="#">
                        <img class="avatar avatar--sm" src="{% static 'images/pfp.jpg'%}" alt="user" />
                        </a>
                        <div class="comment__details">
                            <a href="#" class="comment__author">Dennis Ivanov</a>
                            <p class="comment__info">
                                Consectetur adipisicing elit. Reprehenderit alias numquam perferendis mollitia minus minima
                                exercitationem possimus ab deserunt qui, ratione, dignissimos ut magni laborum quo.
                            </p>
                        </div>
                    </div> 
                </div> 
                <div class="w-100 col-12 mt-lg-2 ms-lg-5">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>
    
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">1</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            </div> 
        </div>
    </div>
</section>
{% comment %} <section class="section-padding section-bg">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-5 col-12">
                <img src="{% static 'images/rear-view-young-college-student.jpg' %}" class="newsletter-image img-fluid" alt="">
            </div>

            <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                <form class="custom-form subscribe-form" action="#" method="post" role="form">
                    <h4 class="mb-4 pb-2">Get Newsletter</h4>

                    <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email Address" required="">

                    <div class="col-lg-12 col-12">
                        <button type="submit" class="form-control">Subscribe</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section> {% endcomment %}
<script>
    function addReview(rating) {
        // Set the selected rating in the review input box
        const message = document.getElementById("message");
        message.value = `Rating: ${rating}/5\n\n\n\n`;
    }
    function submitReview() {
        // Get the review text from the input box
        const message = document.getElementById("message").value;
        // Extract the rating from the review text
        const ratingMatch = message.match(/Rating: (\d)\/5/);
        let rating = 0;
        if (ratingMatch) {
            rating = parseInt(ratingMatch[1]);
        }
    }
    function rateBook(reviewId, rating) {
            
        const stars = document.querySelectorAll(`[onclick="rateBook(${reviewId}, ${rating})"]`);
        stars.forEach((star, index) => {
            if (index < rating) {
                star.classList.add('checked');
            } else {
                star.classList.remove('checked');
            }
        });
    }
</script>
{% endblock content%}
