{% extends "main.html" %}
{% block content%}

<img style="max-width: 300px" src="{{ ouvrage.featured_image.url }}">
<h1>{{ouvrage.titre}}</h1>
<hr>
{%for categorie in ouvrage.categories.all%}
    <span style="border:1px solid gray">{{categorie}}</span>
{%endfor%}
<hr>
<h3>Auteurs : </h3> 
{%for auteur in ouvrage.auteurs.all%}
    <p>{{auteur}}</p>
{%endfor%}
<hr>
<h3>Description : </h3> 
<p>{{ouvrage.description}}</p>
<h3>Date d'achat : </h3> 
<p>{{ouvrage.date_achat}}</p>
{% endblock content%}
