{% extends "main.html" %}
{% block content%}
{% load static %}
<img style="max-width: 500px" src="{{ exemplaire.ouvrage.featured_image.url }}">

<h1>{{exemplaire.ouvrage.titre}}</h1>
<hr>
{%for categorie in exemplaire.ouvrage.categories.all%}
    <span style="border:1px solid gray">{{categorie}}</span>
{%endfor%}
<hr>
<h2>Description : </h2> 
<p>{{exemplaire.ouvrage.description}}</p>
<h2>Etat : </h2> 
<p>{{exemplaire.etat}}</p>
<h2>Reservé ?</h2> 
<p>{{exemplaire.reserve}}</p>
<h2>Emprunté ?</h2> 
<p>{{exemplaire.emprunte}}</p>
{% endblock content%}